@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.col-sm-3 {
    width: 17%;
}

.col-sm-9 {
    width: 82%;
}

.uploadSection {
    margin: 10px;
}

.uploadInput {
    margin: 10px;
}

.uploadButton {
    margin: 10px;
}

.region {
    margin: 3px;
    width: 17%;
    display: inline-block;
}

.country {
    margin: 3px;
    width: 17%;
    display: inline-block;
}

.itemType {
    margin: 3px;
    width: 17%;
    display: inline-block;
}

.salesChannel {
    margin: 3px;
    width: 17%;
    display: inline-block;
}

.orderPriority {
    margin: 3px;
    width: 17%;
    display: inline-block;
}

.orderDate {
    margin: 3px;
    width: 17%;
    display: inline-block;
}

.orderId {
    margin: 3px;
    width: 17%;
    display: inline-block;
}

.filterButton {
    margin: 10px;
    width: 150px;
    display: inline-block;
}

.saveButton {
    margin: 10px;
    width: 150px;
    display: inline-block;
}


.numberInput {
    margin: 5px;
    width: 100%;
}

.itemDropDown {
}

.itemDate {
}
